<section class="w-full max-w-screen-xl m-auto h-full bg-white p-4 rounded-md shadow-md space-y-5">
    <div class="flex items-center justify-center space-x-4">
        <hr class="flex-grow border-gray-300">
        <h1 class="text-center font-semibold text-xl text-gray-600">LISTA DE PRODUTOS</h1>
        <hr class="flex-grow border-gray-300">
    </div>

    <div class="relative inline-block w-full">
        <select 
            id="paymentMethod" 
            name="paymentMethod"
            class="block w-full py-2 px-3 border border-gray-300 rounded-lg bg-white text-gray-700 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
        >
            <option value="atacado">PIX E DINHEIRO</option>
            <option value="boleto">DECORADOR</option>
            <option value="varejo" >DEBITO E CREDITO</option>
        </select>
    </div>

    <table class="min-w-full bg-white shadow-md">
        <thead>
            <tr class="bg-gray-800 text-white">
                <th class="py-3 px-6 text-left">Item</th>
                <th class="py-3 px-6 text-left">Produto/Serviço</th>
                <th class="py-3 px-6 text-left">Quantidade</th>
                <th class="py-3 px-6 text-left">Valor</th>
                <th class="py-3 px-6 text-left">Total</th>
                <th class="py-3 px-6 text-left ">Remover</th>
            </tr>
        </thead>
        <tbody id="listaProduto"></tbody>
    </table>
    
</section>

